/* Common */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Reem Kufi", sans-serif !important;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	max-width: 100%;
	overflow-x: hidden;
	background-color: #f6f6f6;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 90px;
}

/*  */

/* Nav CSS Start */
.App {
	min-height: 100vh;
	width: 85%;
	max-width: 1900px;
	margin: auto;
}

.navbar-menu-container {
	display: none;
}

.navbar-links-container a {
	margin-right: 3rem;
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
	font-weight: 600;
}

.primary-button {
	padding: 0.9rem 1.75rem;
	background-color: white;
	outline: none;
	border: none;
	border-radius: 5rem;
	font-size: 1.1rem;
	cursor: pointer;
	font-weight: 600;
	transition: 0.2s;
}

.navbar-cart-icon {
	font-size: 1.15rem;
}

.primary-button:hover {
	background-color: rgb(234, 234, 234);
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
/* Nav CSS End */

/* Banner CSS Start */
.home-banner-container{
	position: relative;
	display: flex;
	padding-top: 3rem;
}
.home-bannerImage-container{
	position: absolute;
	top: -100px;
	right: -170px;
	z-index: -1;
	max-width: 600px;
}
.home-text-section {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.primary-heading {
	font-size: clamp(2rem, 5vw, 4rem);
   	color: #4c4c4c;
	max-width: 600px;
}
.primary-text {
	font-size: clamp(1rem, 3vw, 1.5rem);
	max-width: 500px;
	color: #6a6a6a;
	margin: 1.5rem 0rem;
}
.secondary-button {
	padding: 1rem 2.5rem;
	background-color: #fe9e0d;
	border: none;
	border-radius: 5rem;
	font-size: 1.1rem;
	cursor: pointer;
	font-weight: 600;
	color: white;
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.secondary-button svg {
	font-size: 1.5rem;
	margin-left: 0.75rem;
}
.secondary-button:hover {
	background-color: #e48f0f;
	color: black;
} 
.home-image-section {
	max-width: 600px;
	flex: 1;
}

/* Banner CSS End */


/* About Start */

.about-section-container{
	margin-top: 20rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-background-image-container{
	position: absolute;
	left: -170px;
	z-index: -1;
}

.about-section-image-container {
	flex: 0.9;
	margin-right: 1rem;
}

.about-section-text-container {
	flex: 1;
	justify-content: centers;
	display: flex;
	flex-direction: column;
}

.primary-subheading{
	font-weight: 700;
	color: #fe9e0d;
	font-size: 1.15rem;
}

.about-section-button-container{
	display: flex;
	margin-top: 60rem;
}


.watch-video-button{
	margin-left: 2rem;
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 5rms;
	font-size: 1.1rem;
	cursor: pointer;
	color: #484848;
	transition: 0.2s;
	font-weight: 600;

	display: flex;
	align-items: center;
	justify-content: center;

}

/* About End */


/* Work Start */
.work-section-wrapper{
	margin-top: 20rem;
}

.work-section-top{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.work-section-top h1 {
	max-width: 700px !important;
}

.work-section-top p{
	max-width: 600px !important;
}

.work-section-info{
	width: 200px;
	min-height: 430px;
	background-color: white;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 1rem;
	color: #505050;
	margin: 1rem 2rem;
	
}

.work-section-bottom{
	margin-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.work-section-info h2 {
	margin: 1rem 0rem;
}

.work-section-info p {
	flex: 1;
	display: flex;
	align-items: center;
	font-weight: 600;
}

/* Work End */


/* Testimonial Start */

.testimonial-section-bottom {
	margin-top: 2rem;
	background-color: white;
	padding: 1.5rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 750px;
	border-radius: 2rem;
	margin: 2rem auto;
}


.testimonial-section-bottom p {
	font-weight: 700;
	color: #515151;
	max-width: 500px;
	font-size: 1.1rem;
	margin: 2rem 0rem;
  }
  .testimonials-stars-container svg {
	margin: 0rem 0.25rem;
	font-size: 1.5rem;
	color: #fe9e0d;
  }
  .testimonial-section-bottom h2 {
	margin-top: 1.5rem;
  }

/* Testimonial End */


/* Contact Start */
.contact-form-container {
	background-color: white;
	max-width: 700px;
	width: 100%;
	margin-top: 3rem;
	display: flex;
	align-items: center;
	padding: 1rem;
	border-radius: 5rem;
}

.contact-form-container input {
	flex: 1;
	height: 100%;
	border: none;
	outline: none;
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
}



/* Contact End */
